body {
	background-color: white;
}

.header {
	padding-top: 80px;
	padding-bottom: 80px;
	color: black;
	font-family: Helvetica;
}

h1 {
	font-size: 128px;
	text-align: center;
}

h5 {
	font-size: 80px;
	text-align: center;
}

h6 {
	font-size: 56px;
	text-align: center;
}

h2 {
	font-size: 36px;
	text-align: center;
}

.thumbnail {
	padding: 0;
	border: none;
}

.thumbnail > .caption > h3 {
	font-size: 36px;
	text-align: center;
	font-family: Helvetica;
}

p {
	font-size: 24px;
}

.row {
	padding-bottom: 80px;
}

.col-md-4 > .thumbnail > .caption {
	padding-left: 0px;
	padding-right: 0px;
}

.text-muted {
	text-align: center;
	font-size: 14px;
}
