body {
  background-color: black;
  color: silver;
  font-family: Helvetica;
  }
  
.master {
  text-align: right;
}

h1 {
  font-size: 72px;
  font-weight: bold;
}

h2 {
  font-size: 36px;
  margin-bottom: 100px;
}

a {
	color: silver;
}

a:hover, a:visited {
	color: silver;
	text-decoration: none;
}
